/*---------------------------------Estilos en Varios en Etiquetas HTML---------------------------------------*/

body{
  margin: 0;
}

ul li {
  list-style-type: none;

}
ul{
  padding: 0;
}
img{
  object-fit: cover;
}

a{
  color: black;
  text-decoration: none;
}

textarea{
  width: 80%;
}  

footer a ,p {
  color: white;
  margin-bottom: 0;
}

 form input{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
}

/*---------------------------------Estilos en Contenedores Flex---------------------------------------*/

.contenedor{
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
  align-items: center;
}

/*---------------------------------Estilos en Grid---------------------------------------*/
.grid2Col{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;  
  

}

.gridHeader{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  align-items: center;

}

.gridMenu{
  display: grid;
  grid-template-rows: 80px;
  grid-template-columns: 1fr 2fr;
}

.gridMenu .menuPrincipal{
  justify-self: end;
  margin-right: 40px;
}

.gridServicios{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
}



/*---------------------------------Estilos en Fuentes---------------------------------------*/
.bordeDoble{
  border-top:double 3px black ;
  width: 30%; 
}

.bordeSimple{
  border-top: solid 0.5px white;
}
.centrar{
   text-align: center;
}
.letraTitulo{
  font-family: 'Bebas Neue', cursive;
}
.letraPrincipal{
  font-family: 'Open Sans Condensed', sans-serif;
}
.fuenteTitulo{
  font-size: 2.4rem;
}
.fuenteChica{
font-size: 1rem;;

}
.fuenteNormal{
  font-size: 1.5rem;

}
.fuenteGrande{
  font-size: 1.7rem;
}
.textoBlanco {
  color: white;
}
.textoNegro{
  color: black;
}
.letraDeco{
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 3rem;
  color:white;
}
.logo{
  height: 50px;
}

.texto80{
	
	position: absolute;
	top:70%;
	left:50%;
	transform: translate(-50%,-50%);
	color: black;
}



/*---------------------------------Estilos Banner---------------------------------------*/

.banner{
  
background-image: url(../img/calefaccion.jpg); 
background-size: cover;
background-position: center;
height: 100vh;

 
}
.efectoTitulo{
  animation-name: aparecer;
  animation-duration: 4s;
}

.gradBanner{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.8) );
  background-size: cover;
  background-position: center;
  height: 100vh;  
  
}

/*---------------------------------Estilos Fondos---------------------------------------*/
.fondoRojo{
background-color:#BF1313;

}

.fondoImagen{
  background: linear-gradient(to bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(https://cdn.pixabay.com/photo/2014/12/26/10/50/flame-580342_960_720.jpg);
  background-size: cover;
  background-position: center;
}

.fondoNav{
  background: rgba(243, 243, 243, 0.356);
}

.fondoGrad{
  background: linear-gradient(to top, #000, rgba(0,0,0,0.92));
}
.fondoNegro{
  background: black;
}
/*---------------------------------Estilos Padding y Margenes---------------------------------------*/

.paddingSeccion{
padding: 20px;
}

.paddingTitulo{
  padding-top: 80px;
  padding-bottom: 30px;
  margin: 0;
}
.paddingImg{
  padding: 40px;
}
.salto {
  display: block;
  margin-top: 20px;
}
.rellenoPadding{
  border: double 5px black;
  background-color: #BF1313;
  padding: 30px;
}

.paddingServ{
  padding: 120px;
  background-color: black;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

a:hover{
  color:  #BF1313;
}

button .icon-menu:hover{
  color:  #BF1313; 
}

.contenedorImg{
	width: 100%;
  overflow:hidden;

}

/*---------------------------------Efectos---------------------------------------*/

.efecto{
  transition: all .4s ease;
  filter: grayscale(80%);
  width: 100%;
}
.efecto:hover{
  transform: scale(1.1);
  filter:grayscale(0%) ;
}

/*------------------------------------Estilos en BS------------------------------------*/
.carousel-control-next-icon,
.carousel-control-prev-icon {

  filter: invert(1);
}

.carousel-indicators li{
background-color:black;
width: 10px;
height: 10px;
border-radius: 50%;
}


@keyframes aparecer{
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;

    }
  
}



@media only screen and (max-width: 1042px) {

  .grid2Col{
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
  }

  
}

@media screen and (max-width:360px) {
  .fuenteNormal{
    font-size: 1.2rem;
  }
  .fuenteChica{
    font-size: 0.8rem;
    
    }
   .fuenteTitulo{
     font-size: 1.8rem;
   } 
  .fuenteGrande{
      font-size: 1.2rem;
    }
  
  .logo{
    height: 40px;
  }
  
}
