@charset "UTF-8";
/*--------------------------VARIABLES COLORES------------------------------------*/
/*--------------------------VARIABLES FONDOS------------------------------------*/
/*--------------------------VARIABLES TAMAÑOS DE LETRAS------------------------------------*/
/*--------------------------VARIABLES LETRAS------------------------------------*/
/*-----------------------VARIABLES ICONOS----------------------------------------*/
/*--------------------------SCSS------------------------------------*/
body {
  margin: 0;
  color: black; }

nav ul, footer ul {
  padding: 0; }
  nav ul li, footer ul li {
    list-style-type: none; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none;
  color: #BF1313; }

a:active {
  border: none; }

a:focus {
  border: none; }

button .icon-menu:hover {
  color: #BF1313; }

form input {
  font-family: "Open Sans Condensed", sans-serif; }

form textarea {
  width: 70%; }

img {
  object-fit: cover; }

footer a {
  color: white; }

footer p {
  margin-bottom: 0; }

.padding-nosotros {
  background: linear-gradient(0deg, rgba(199, 8, 8, 0.653099) 100%, rgba(0, 0, 0, 0.971026) 100%), url("../img/nosotros.webp");
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0;
  text-align: center;
  color: white; }

.padding-servicios {
  background: linear-gradient(0deg, rgba(199, 8, 8, 0.653099) 100%, rgba(0, 0, 0, 0.971026) 100%), url("../img/servicios.webp");
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0;
  text-align: center;
  color: white; }

.padding-productos {
  background: linear-gradient(0deg, rgba(199, 8, 8, 0.653099) 100%, rgba(0, 0, 0, 0.971026) 100%), url("../img/productos.webp");
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0;
  text-align: center;
  color: white; }

.padding-contacto {
  background: linear-gradient(0deg, rgba(199, 8, 8, 0.653099) 100%, rgba(0, 0, 0, 0.971026) 100%), url("../img/contacto.webp");
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0;
  text-align: center;
  color: white; }

.icon-facebook {
  list-style-type: none; }

.icon-phone {
  list-style-type: none; }

.icon-mail {
  list-style-type: none; }

.icon-instagram {
  list-style-type: none; }

/*---------------------------------Estilos en Fuentes---------------------------------------*/
.bordeDoble, .servicios .servicios__titulo, .productos .productos__titulo, .contacto .contacto__titulo {
  border-top: double 3px black;
  width: 50%; }

.bordeSimple, footer .footer__copy {
  border-top: solid 0.5px white; }

.centrar {
  text-align: center; }

.letraTitulo, .padding-nosotros, .padding-servicios, .padding-productos, .padding-contacto, .menu, .servicios .servicios__titulo, .servicios .servicios__items, .servicios .servicios__subtitulo, .nosotros .nosotros__contacto, .nosotros .nosotros__titulo, .nosotros .nosotros__boton, .productos .productos__titulo, .productos .productos__contacto, .contacto .contacto__titulo, .formulario .formulario__titulo, .formulario .formulario__cerrar, .redes .redes__principal, footer .footer__titulo {
  font-family: "Bebas Neue", cursive; }

.letraPrincipal, .portada .portada__telefono, .portada .portada__subtitulo, .portada .portada__boton, .servicios, .nosotros .nosotros__texto, .productos .productos__texto, .contacto, .formulario, .redes .redes__secundario {
  font-family: "Open Sans Condensed", sans-serif; }

.fuenteTitulo, .padding-nosotros, .padding-servicios, .padding-productos, .padding-contacto, .servicios .servicios__titulo, .productos .productos__titulo, .contacto .contacto__titulo {
  font-size: 2.2rem; }

.fuenteCopy, footer .footer__copy {
  font-size: 0.7rem; }

.fuenteChica, footer .footer__titulo {
  font-size: 1.1rem; }

.fuenteNormal, .paddingServ, .menu, .portada .portada__telefono, .portada .portada__subtitulo, .portada .portada__boton, .servicios .servicios__items, .servicios .servicios__subtitulo, .nosotros .nosotros__texto, .nosotros .nosotros__boton, .productos .productos__texto, .productos .productos__contacto, .contacto, .formulario, .formulario .formulario__titulo, .redes .redes__principal, .redes .redes__secundario {
  font-size: 1.4rem; }

.fuenteGrande, .nosotros .nosotros__contacto, .nosotros .nosotros__titulo, footer .footer__redes {
  font-size: 1.7rem; }

.fuenteBanner, .portada .portada__titulo {
  font-size: 2.4rem; }

.textoBlanco {
  color: white; }

.textoNegro {
  color: black; }

.letraDeco, .portada .portada__titulo {
  font-family: "Julius Sans One", sans-serif; }

.logo {
  height: 50px; }

.logoMarcas {
  height: 60px; }

.logoFooter {
  height: 30px; }

/*---------------------------------Texto en Imagen-------------------------------------------------------------------------------------*/
.contenedorImg {
  width: 100%;
  overflow: hidden; }

/*---------------------------------Estilos Fondos-------------------------------------------------------------------------------------*/
.fondoRojo {
  background: linear-gradient(147deg, #c62128 0%, #a00000 74%);
  color: white; }

.fondoContacto {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../img/contacto.webp);
  height: 250px; }

.fondoRedes {
  background: linear-gradient(to top, rgba(243, 241, 241, 0.753), rgba(223, 219, 219, 0.815)), url(../img/redes.webp); }

.fondoNav {
  background: rgba(243, 243, 243, 0.836); }

.fondoFooter {
  background: linear-gradient(to top right, #000000 0%, #292929 100%); }

.fondoNegro {
  background: linear-gradient(to left, #000000, #111010);
  color: white; }

/*---------------------------------Estilos Padding y Margenes---------------------------------------*/
.paddingServ {
  padding: 30px;
  background: linear-gradient(to left, #000000, #111010);
  color: white; }

/*-----------------------------------CLASE CENTRAR BACKGROUND-------------------------------------------*/
.bgCoverCenter, .padding-nosotros, .padding-servicios, .padding-productos, .padding-contacto, .fondoContacto, .fondoRedes, .banner, .gradBanner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

/*---------------------------------Estilos Banner---------------------------------------*/
.banner {
  background-image: url(../img/banner.webp);
  height: 100vh; }

.fondoTextoPortada {
  background: rgba(0, 0, 0, 0.4);
  color: white; }

.efectoAparecer {
  animation-name: aparecer;
  animation-duration: 4s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.gradBanner {
  background: linear-gradient(0deg, rgba(26, 25, 25, 0.24), rgba(0, 0, 0, 0.4) 30%);
  height: 100vh; }

/*----------------------------------------------------Efectos---------------------------------------*/
.efecto {
  transition: all .4s ease;
  filter: grayscale(80%);
  width: 100%; }

.efecto:hover {
  transform: scale(1.1);
  filter: grayscale(0%); }

.efectoRecuadro {
  transition: all .5s ease; }

.efectoRecuadro:hover {
  border-radius: 5%;
  box-shadow: 0 0 50px rgba(30, 31, 30, 0.233); }

/*-----------------------------------------------------------------------Estilos en BS------------------------------------*/
.navbar {
  padding: .2rem; }

.carousel-indicators li {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%; }

button:focus {
  outline: none;
  box-shadow: none; }

.btn-primary:focus {
  box-shadow: none;
  background-color: #007bff; }

/*---------------------------BLOQUES BEM------------------------------------*/
.portada {
  color: white; }
  .portada .portada__telefono {
    color: white; }

.servicios .servicios__items {
  width: 100%;
  position: absolute;
  top: 86%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0;
  padding: 0.5rem; }

.nosotros .nosotros__contacto {
  color: white; }

.nosotros .nosotros__boton {
  color: white; }

.productos .productos__contacto {
  color: white; }

.formulario .formulario__texto {
  color: white; }

footer .footer__titulo {
  color: white;
  text-align: center; }

footer .footer__redes {
  color: white; }

footer .footer__copy {
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  text-align: center; }

/*------------------------MEDIAS----------------------------------------------*/
@media screen and (max-width: 776px) {
  .fuenteNormal, .paddingServ, .menu, .portada .portada__telefono, .portada .portada__subtitulo, .portada .portada__boton, .servicios .servicios__items, .servicios .servicios__subtitulo, .nosotros .nosotros__texto, .nosotros .nosotros__boton, .productos .productos__texto, .productos .productos__contacto, .contacto, .formulario, .formulario .formulario__titulo, .redes .redes__principal, .redes .redes__secundario {
    font-size: 1.1rem; }
  .fuenteChica, footer .footer__titulo {
    font-size: 0.8rem; }
  .fuenteTitulo, .padding-nosotros, .padding-servicios, .padding-productos, .padding-contacto, .servicios .servicios__titulo, .productos .productos__titulo, .contacto .contacto__titulo {
    font-size: 1.9rem; }
  .fuenteGrande, .nosotros .nosotros__contacto, .nosotros .nosotros__titulo, footer .footer__redes {
    font-size: 1.4rem; }
  .fuenteBanner, .portada .portada__titulo {
    font-size: 2.1rem; }
  .logo {
    height: 40px; }
  .logoBlanco {
    height: 40px; }
  .logoMarcas {
    height: 35px; }
  .logoFooter {
    height: 25px; }
  .nav-item {
    border-bottom: solid rgba(0, 0, 0, 0.7) 0.1px; } }
