@charset "UTF-8";
/*--------------------------VARIABLES COLORES------------------------------------*/
/*--------------------------VARIABLES FONDOS------------------------------------*/
/*--------------------------VARIABLES TAMAÑOS DE LETRAS------------------------------------*/
/*--------------------------VARIABLES LETRAS------------------------------------*/
/*-----------------------VARIABLES ICONOS----------------------------------------*/
/*--------------------------SCSS------------------------------------*/
body {
  margin: 0;
  color: black; }

nav ul, footer ul {
  padding: 0; }
  nav ul li, footer ul li {
    list-style-type: none; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none;
  color: #BF1313; }

form input {
  font-family: "Open Sans Condensed", sans-serif; }

form textarea {
  width: 70%; }

img {
  object-fit: cover; }

footer a {
  color: white; }

footer p {
  color: white;
  margin-bottom: 0; }

.padding-nosotros {
  background: linear-gradient(0deg, rgba(199, 8, 8, 0.653099) 100%, rgba(0, 0, 0, 0.971026) 100%), url("../img/nosotros.jpg"); }

.padding-servicios {
  background: linear-gradient(0deg, rgba(199, 8, 8, 0.653099) 100%, rgba(0, 0, 0, 0.971026) 100%), url("../img/servicios.jpg"); }

.padding-productos {
  background: linear-gradient(0deg, rgba(199, 8, 8, 0.653099) 100%, rgba(0, 0, 0, 0.971026) 100%), url("../img/productos.jpg"); }

.padding-contacto {
  background: linear-gradient(0deg, rgba(199, 8, 8, 0.653099) 100%, rgba(0, 0, 0, 0.971026) 100%), url("../img/contacto.jpg"); }

/*---------------------------------Estilos en Fuentes---------------------------------------*/
.bordeDoble {
  border-top: double 3px black;
  width: 50%; }

.bordeSimple {
  border-top: solid 0.5px white; }

.centrar {
  text-align: center; }

.letraTitulo {
  font-family: "Bebas Neue", cursive; }

.letraPrincipal {
  font-family: "Open Sans Condensed", sans-serif; }

.fuenteTitulo {
  font-size: 2.3rem; }

.fuenteCopy {
  font-size: 0.8rem; }

.fuenteChica {
  font-size: 1.2rem; }

.fuenteNormal {
  font-size: 1.5rem; }

.fuenteGrande {
  font-size: 1.7rem; }

.fuenteBanner {
  font-size: 2.5rem; }

.textoBlanco {
  color: white; }

.textoNegro {
  color: black; }

.letraDeco {
  font-family: "Francois One", sans-serif; }

.logo {
  height: 50px; }

.logoBlanco {
  height: 30px; }

/*---------------------------------Texto en Imagen-------------------------------------------------------------------------------------*/
.texto80 {
  width: 100%;
  position: absolute;
  top: 85%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0;
  padding: 0.5rem; }

.textoBanner {
  position: absolute;
  display: block;
  top: 50%;
  right: 3%;
  width: 40%;
  text-align: left;
  transform: translate(-5%, -50%); }
  .textoBanner p {
    background-color: rgba(0, 0, 0, 0.3); }

/*---------------------------------Estilos Fondos-------------------------------------------------------------------------------------*/
.fondoRojo {
  background: linear-gradient(147deg, #c62128 0%, #a00000 74%); }

.fondoContacto {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049_960_720.jpg);
  height: 250px; }

.fondoNav {
  background: rgba(243, 243, 243, 0.356); }

.fondoFooter {
  background: linear-gradient(to top right, #000000 0%, #292929 100%); }

.fondoNegro {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.825368) 0%, rgba(0, 0, 0, 0.962623) 0%); }

/*---------------------------------Estilos Padding y Margenes---------------------------------------*/
.salto {
  display: block;
  margin-top: 20px; }

.paddingTitulo, .padding-nosotros, .padding-servicios, .padding-productos, .padding-contacto {
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0; }

.paddingServ {
  padding: 50px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.825368) 0%, rgba(0, 0, 0, 0.962623) 0%);
  color: white; }

/*---------------------------------Estilos Banner---------------------------------------*/
.banner {
  background-image: url(../img/calefaccion.jpg);
  height: 100vh; }

.fondoTexto {
  background: rgba(0, 0, 0, 0.5);
  color: white; }

.efectoTitulo {
  animation-name: aparecer;
  animation-duration: 4s; }

.gradBanner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.574667) 13%, rgba(255, 255, 255, 0.0564601) 61%);
  height: 100vh; }

/*-----------------------------------CLASE CENTRAR BACKGROUND-------------------------------------------*/
.bgCoverCenter, .padding-nosotros, .padding-servicios, .padding-productos, .padding-contacto, .fondoContacto, .banner, .gradBanner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

/*---------------------------------Estilos en Contenedores Flex---------------------------------------*/
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

/*---------------------------------Estilos Fondos-------------------------------------------------------------------------------------*/
button .icon-menu:hover {
  color: #BF1313; }

.contenedorImg {
  width: 100%;
  overflow: hidden; }

.icon-facebook {
  list-style-type: none; }

.icon-phone {
  list-style-type: none; }

.icon-mail {
  list-style-type: none; }

.icon-instagram {
  list-style-type: none; }

/*----------------------------------------------------Efectos---------------------------------------*/
.efecto {
  transition: all .4s ease;
  filter: grayscale(80%);
  width: 100%; }

.efecto:hover {
  transform: scale(1.1);
  filter: grayscale(0%); }

/*-----------------------------------------------------------------------Estilos en BS------------------------------------*/
.navbar {
  padding: .2rem; }

.carousel-indicators li {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%; }

button:focus {
  outline: none; }

.btn-primary:focus {
  box-shadow: none;
  background-color: #007bff; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*---------------------------BLOQUES BEM------------------------------------*/
.nosotros .nosotros__texto {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 1.7rem; }

.nosotros .nosotros__boton {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 1.5rem; }

.formulario .formulario__titulo {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  color: white; }

.contacto .contacto__titulo {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem; }

.contacto .contacto__lista {
  font-family: "Open Sans Condensed", sans-serif; }

.contactoFooter .contactoFooter__titulo {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 1.2rem; }

/*------------------------MEDIAS----------------------------------------------*/
@media screen and (max-width: 776px) {
  .fuenteNormal {
    font-size: 1.2rem; }
  .fuenteChica {
    font-size: 0.9rem; }
  .fuenteTitulo {
    font-size: 2rem; }
  .fuenteGrande {
    font-size: 1.4rem; }
  .fuenteBanner {
    font-size: 2.2rem; }
  .logo {
    height: 40px; }
  .logoBlanco {
    height: 20px; }
  .nav-item {
    border-bottom: solid rgba(0, 0, 0, 0.7) 0.1px; } }
