/*--------------------------VARIABLES COLORES------------------------------------*/
$ColorLetraPrimario: black;
$ColorLetraSecundario: white;

$ColorPrincipal:#BF1313;
$ColorSecundario:black;
$ColorTerciario:white;

/*--------------------------VARIABLES FONDOS------------------------------------*/
$FondoMenu:rgba(243, 243, 243, 0.089);
$FondoNosotros:linear-gradient(147deg, #c62128 0%, #a00000 74%);
$FondoFooter:linear-gradient(to top right, #000000 0%, #292929 100%);
$FondoServicio: linear-gradient(to left, #000000, #111010);
/*--------------------------VARIABLES TAMAÑOS DE LETRAS------------------------------------*/
$FuenteCopy:.7rem;
$FuenteChica:1.1rem;
$FuenteMediana:1.4rem;
$FuenteGrande:1.7rem;
$FuenteTitulo:2.2rem;
$FuenteBanner:2.4rem;

$DiferenciaMobile: 0.3rem;

/*--------------------------VARIABLES LETRAS------------------------------------*/
$LetraPrincipal: 'Open Sans Condensed', sans-serif;
$LetraSecundaria:'Bebas Neue', cursive;
$LetraBanner:'Julius Sans One', sans-serif;

/*-----------------------VARIABLES ICONOS----------------------------------------*/
$IconosFooter: 'facebook','phone','mail','instagram';

/*--------------------------SCSS------------------------------------*/
body{
    margin: 0;
    color: $ColorLetraPrimario;
}
nav,footer{
    ul{
        padding:0;
        li{
            list-style-type: none;

          }
      }
}

a{
    text-decoration: none;
    color: $ColorLetraPrimario;
}
a:hover{
    text-decoration: none;
    color: $ColorPrincipal ;
}
a:active{
  border: none;
}
a:focus{
  border: none;
}
button {
  .icon-menu:hover{
      color: $ColorPrincipal; 
  }
}   
form{
    input{
       font-family: $LetraPrincipal;
    }
    textarea{
        width: 70%;
    }
}
img{
    object-fit: cover;
}
footer{
      
        a{
            color: $ColorLetraSecundario;
        }    
        p{
            margin-bottom: 0;
        }
}

@each $seccion in nosotros,servicios,productos,contacto {
  .padding-#{$seccion}{
    background:linear-gradient(0deg, rgba(199,8,8,0.6530987394957983) 100%, rgba(0,0,0,0.9710259103641457) 100%),url('../img/#{$seccion}.webp');
    @extend.bgCoverCenter;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0;
    text-align: center;
    color: $ColorLetraSecundario;
    @extend.fuenteTitulo;
    @extend.letraTitulo;
    
  }
}

@each $redes in $IconosFooter {
  .icon-#{$redes} {
    list-style-type: none;

  }

}
.icon-menu{
  background-image: url(../icon/icon-menu.png);
  display: block;
  color: white;
  width: 24px;
  height: 24px;
  @extend .bgCoverCenter;
}
.icon-facebook{
  background-image: url(../icon/icon-facebook.png);
  display: block;
  width: 20px;
  height: 20px;
  @extend .bgCoverCenter;
}
.icon-mail{
  background-image: url(../icon/icon-mail.png);
  display: block;
  width: 20px;
  height: 20px;
  @extend .bgCoverCenter;
}
.icon-phone{
  background-image: url(../icon/icon-phone.png);
  display: block;
  width: 20px;
  height: 20px;
  @extend .bgCoverCenter;
}
.icon-instagram{
  background-image: url(../icon/icon-instagram.png);
  display: block;
  width: 20px;
  height: 20px;
  @extend .bgCoverCenter;
}

/*---------------------------------Estilos en Fuentes---------------------------------------*/
.bordeDoble{
    border-top:double 3px $ColorLetraPrimario ; 
    width: 50%;
    
  }
  
.bordeSimple{
    border-top: solid 0.5px $ColorLetraSecundario;
  }

.centrar{
     text-align: center;
  }
.letraTitulo{
    font-family: $LetraSecundaria;
  }
.letraPrincipal{
    font-family: $LetraPrincipal
  }
.fuenteTitulo{
    font-size: $FuenteTitulo;
  }
.fuenteCopy{
  font-size: $FuenteCopy;
}
.fuenteChica{
  font-size: $FuenteChica;
  
  }
.fuenteNormal{
    font-size: $FuenteMediana;
  
  }
.fuenteGrande{
    font-size: $FuenteGrande;
  }
.fuenteBanner{
    font-size:$FuenteBanner;
}
.textoBlanco {
    color: $ColorLetraSecundario;
  }
.textoNegro{
    color: $ColorLetraPrimario;
  }
.letraDeco{
    font-family: $LetraBanner;
  }
.logo{
    height: 50px;
  }

.logoMarcas{
  height: 60px;
}
.logoFooter{
  height: 30px;
}
 /*---------------------------------Texto en Imagen-------------------------------------------------------------------------------------*/

.contenedorImg{
        width: 100%;
        overflow:hidden;
      
}

  /*---------------------------------Estilos Fondos-------------------------------------------------------------------------------------*/

.fondoRojo{
    background:$FondoNosotros;
    color: $ColorLetraSecundario;
    }

.fondoContacto{
      
      background: linear-gradient(to top, rgba(0,0,0,0.4),rgba(0,0,0,0.8)), url(../img/contacto.webp);
      @extend.bgCoverCenter;
      height: 250px;
    }

.fondoRedes{

  background: linear-gradient(to top, rgba(243, 241, 241, 0.753),rgba(223, 219, 219, 0.815)), url(../img/redes.webp);
  @extend.bgCoverCenter;
 
}    
.fondoNav{
      background: $FondoMenu;
      transition: .5s;
    }
    
.fondoFooter{
      background: $FondoFooter;
    }
.fondoNegro{
  background: $FondoServicio;
  color: $ColorLetraSecundario;
}

/*---------------------------------Estilos Padding y Margenes---------------------------------------*/

.paddingServ{
      padding: 30px;
      background: $FondoServicio;
      @extend.fuenteNormal;
      color: white;
    }    
   

/*-----------------------------------CLASE CENTRAR BACKGROUND-------------------------------------------*/
.bgCoverCenter{
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }    

/*---------------------------------Estilos Banner---------------------------------------*/
    
.banner{
      
  background-image: url(../img/banner.webp); 
  height: 100vh;
  @extend.bgCoverCenter;
  }
   
.fondoTextoPortada{
  background: rgba(0,0,0,0.4);
  color: $ColorLetraSecundario;
}
  
.efectoAparecer{
    animation-name: aparecer;
    animation-duration: 4s;
  }
@keyframes aparecer{
    0% {
      opacity: 0;
    }
    100%{
      opacity: 1;
  
      }
    
}   
.gradBanner{
    background: linear-gradient(0deg, rgba(26, 25, 25, 0.24) ,rgba(0, 0, 0, 0.4) 30%);

   @extend.bgCoverCenter;
    height: 100vh;  
    
  }
/*----------------------------------------------------Efectos---------------------------------------*/

.efecto{
    transition: all .4s ease;
    filter: grayscale(80%);
    width: 100%;
  }
.efecto:hover{
    transform: scale(1.1);
    filter:grayscale(0%) ;
  }

.efectoRecuadro{
  transition: all .5s ease;
}
.efectoRecuadro:hover{
    border-radius: 5%;
    box-shadow: 0 0 50px rgba(30, 31, 30, 0.233);
  }
/*-----------------------------------------------------------------------Estilos en BS------------------------------------*/
.navbar{
  padding: .2rem;
}

.carousel-indicators {
                li{
                    background-color:white;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
}

button:focus{
                      
      outline:none;
      box-shadow: none;
      
    }

.btn-primary:focus{
  box-shadow: none;
  background-color: #007bff;
}


 
/*---------------------------BLOQUES BEM------------------------------------*/
.menu{
  @extend.fuenteNormal;
  @extend.letraTitulo;
}
.portada{
        color: $ColorLetraSecundario;
        .portada__telefono{
          @extend.letraPrincipal;
          @extend.fuenteNormal;
          color: $ColorLetraSecundario;
        }
        .portada__titulo{
          @extend.letraDeco;
          @extend.fuenteBanner;

        }
        .portada__subtitulo,.portada__boton{
          @extend.letraPrincipal;
          @extend.fuenteNormal;
        }
       
}
.servicios{
            @extend.letraPrincipal;
            
            .servicios__titulo{
                    @extend.fuenteTitulo;
                    @extend.letraTitulo;
                    @extend.bordeDoble;
            }

            .servicios__items{
              @extend.letraTitulo;
              @extend.fuenteNormal;
              width: 100%;
              position: absolute;
              top: 86%;
              color: $ColorLetraSecundario;
              background-color: rgba(0,0,0,0.6);
              margin-bottom: 0;
              padding: 0.5rem;
            }
            .servicios__subtitulo{
              @extend.letraTitulo;
              @extend.fuenteNormal;
            }
}            


.nosotros{
        .nosotros__contacto{
          @extend.letraTitulo;
          @extend.fuenteGrande;
          color: $ColorLetraSecundario;
          

        }
        .nosotros__texto{
                    @extend.letraPrincipal;
                    @extend.fuenteNormal;
        }
        .nosotros__titulo{
                    @extend.letraTitulo;
                    @extend.fuenteGrande;
        }
        .nosotros__boton{
          @extend.letraTitulo;
          @extend.fuenteNormal;
          color: $ColorLetraSecundario;
          
        }

}

.productos{
            .productos__titulo{
                @extend.fuenteTitulo;
                @extend.letraTitulo;
                @extend.bordeDoble;
            }
            .productos__texto{
              @extend.letraPrincipal;
              @extend.fuenteNormal;
            }
            .productos__contacto{
              @extend.fuenteNormal;
              @extend.letraTitulo;
              color: $ColorLetraSecundario;
            }
}

.contacto{
    .contacto__titulo{
      @extend.fuenteTitulo;
      @extend.letraTitulo;
      @extend.bordeDoble;
      
    }

    @extend.letraPrincipal;
    @extend.fuenteNormal;
}
.formulario{

            @extend.letraPrincipal;
            @extend.fuenteNormal;  

          .formulario__texto{
            color: $ColorLetraSecundario;
            @extend.fuenteGrande;
            margin-bottom: 0;
          }
          .formulario__titulo{
            @extend.letraTitulo;
            @extend.fuenteNormal;
        }
        .formulario__cerrar{
          @extend.letraTitulo;
        }
}
.redes{
        .redes__principal{
          @extend.letraTitulo;
          @extend.fuenteNormal;
        }
      .redes__secundario{
        @extend.letraPrincipal;
        @extend.fuenteNormal;
      }
}

footer{
        .footer__titulo{
          @extend.letraTitulo;
          @extend.fuenteChica;
          color: $ColorLetraSecundario;
          text-align: center;
            
        }
        .footer__redes{
          @extend.fuenteGrande;
          color: $ColorLetraSecundario;
          padding: 1rem;
        }
        .footer__copy{
          @extend.fuenteCopy;
          @extend.bordeSimple;
          font-family: $LetraPrincipal;
          color: $ColorLetraSecundario;
          text-align: center;
        }
}
/*------------------------MEDIAS----------------------------------------------*/

  @media screen and (max-width:776px) {
    .fuenteNormal{
      font-size: $FuenteMediana - $DiferenciaMobile;
    }
  
    .fuenteChica{
      font-size: $FuenteChica - $DiferenciaMobile;
      
      }
     .fuenteTitulo{
       font-size: $FuenteTitulo - $DiferenciaMobile;
     } 
    .fuenteGrande{
        font-size: $FuenteGrande - $DiferenciaMobile;
      }
    .fuenteBanner{
      font-size:$FuenteBanner - $DiferenciaMobile;
    }
    .logo{
      height: 40px;
    }
    .logoBlanco{
      height: 40px;
    }
    .logoMarcas{
      height: 35px;
    }
    .logoFooter{
      height: 25px;
    }
    .nav-item{
      border-bottom: solid rgba(0,0,0,0.7) .1px;
    }
  }
             